body {
    font-family: 'Roboto', sans-serif;
    margin: 0;
    overflow: hidden;
}

#bottomImage {
    position: relative; /* Makes it a reference for absolute children */
    width: 100vw;
}

#bottomImage img {
    width: 100vw;
    height: auto; /* Maintains aspect ratio */
    display: block;
}

#middleImage {
    position: absolute;
    bottom: 0; /* Aligns to the bottom of #bottomImage */
    width: 100vw; /* Ensures it spans the width */
    height: 5vw; /* Keep the specified height */
    font-size: clamp(15px, 2vw, 36px); 
    padding: 1vw;
    overflow: hidden;
    z-index: 1;
    background-image: linear-gradient(to right, rgba(182, 194, 220, 0.8), rgb(239, 170, 181, 0.8));
    box-shadow: 3px 3px 3px navy;
}

/* Ensure topImage always stays in view */
#topImage {
    position: fixed;
    top: 5px; /* Moves it higher */
    right: 5vw;
    transform: none;
    z-index: 2;
}

/* h1 Styling (Now an oval in the top-right corner) */
h1 {
    position: fixed;
    top: 2vh; /* Moves it higher */
    right: 5vw;
    
    z-index: 3;
    padding: 1vw 2vw;
    
    background-color: red;
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    box-shadow: 3px 3px 3px navy;
    color: white;

    width: 18vw;
    height: auto;
    
    font-size: 2vw;
    text-align: center;
    white-space: nowrap;
    line-height: 1.2;
    
    border-radius: 50px;
    transform: none;
}
