body {
    font-family: 'Montserrat', sans-serif;
    background: radial-gradient(circle, #ffe5d9 10%, #f8bec6 80%);
    background-attachment: fixed;
    background-size: cover;
    margin: 0;
    padding: 0;
    position: relative;
    min-height: 100vh;
  }

  .lens {
    width: 5vw;
    justify-content: center;
    text-align: center;
  }

  header {
    text-align: center;
    padding: 6vw;
    background: radial-gradient(circle, #e58297 30%, #f8bec6 90%);
    color: #fff7f9;
    text-shadow: 1px 2px 4px #e5718a;
  }
  
  header h1 {
    font-family: 'Sansita Swashed', cursive;
    font-size: 6rem;
    margin: 0;
    position: relative;
    display: inline-block;
    padding: 1rem 2rem;
  }
  
  header p {
    color: #f9d2d7;
    margin-top: 0.5em;
    margin-bottom: -.8em;
    font-size: 1.5rem;
    padding: -5vw;
  }

  .corner {
    position: absolute;
    width: 20px;
    height: 20px;
    border: 3px solid white;
  }
  
  .top-left {
    top: 0;
    left: 0;
    border-right: none;
    border-bottom: none;
  }
  
  .top-right {
    top: 0;
    right: 0;
    border-left: none;
    border-bottom: none;
  }
  
  .bottom-left {
    bottom: 0;
    left: 0;
    border-right: none;
    border-top: none;
  }
  
  .bottom-right {
    bottom: 0;
    right: 0;
    border-left: none;
    border-top: none;
  }
  
  
  p {
    font-family: 'Sansita Swashed', cursive;
    text-align: center;
    color: #333;
  }
  
  nav {
    width: 100vw;
    position: sticky;
    top: 0;
    z-index: 1000;
    display: flex;
    justify-content: center;
    font-size: 1.2rem;
    background-color: #ffe5d9;
    box-shadow: 0 6px 8px rgba(255, 251, 235, 0.05);
  }
  
  nav ul {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    list-style: none;
    padding: 1em 2em;
    margin: 0;
    width: 100%;
    max-width: 1000px;
    gap: 2rem;
  }
  
  nav li {
    margin: 0;
  }
  
  nav a {
    text-decoration: none;
    color: #333;
    font-weight: bold;
    padding: 0.5em 1em;
    border-radius: 8px;
    transition: all 0.3s ease;
  }
  
  nav a:hover {
    background-color: #e58297;
    color: white;
    padding: 0.7em 1.3em;
  }
  
  @media (max-width: 500px) {
    nav ul {
      flex-direction: column;
      align-items: center;
    }
  }
  
  h2 {
    text-align: center;
    font-size: 2.5em;
    background-color: #f8bec6;
    color: #232323;
    padding: 4vw;
    font-family: 'Lora', serif;
    margin: 0;
    scroll-margin-top: 4.5vw; /* Adjust based on nav height */
  }

  [id] {
    scroll-margin-top: 4.5vw;
  }
  
  h3 {
    font-family: 'Lora', serif;
    margin: 0;
    padding: 1.5vw;
    text-align: center;
  }
  
  .social-link h3 {
    font-size: 1.8vw;
    margin-bottom: 1vw;
    margin-top: 0;
    text-align: center;
  }
  
  .media-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 2vw;
    padding: 2em 10vw;
  }
  
  .media-box {
    flex: 1 1 calc(33.33% - 2vw);
    background-color: white;
    border: 2px solid #ffe5d9;
    border-radius: 12px;
    padding: 1em;
    margin-bottom: 2em;
    text-align: center;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
  }
  
  .media-box:hover {
    transform: translateY(-5px);
    box-shadow: 0 8px 16px #ffabc4;
  }
  
  @media (max-width: 1000px) {
    .media-box {
      flex: 1 1 calc(50% - 2vw);
    }
  }
  
  @media (max-width: 700px) {
    .media-box {
      flex: 1 1 100%;
    }
  }
  
  .film-cover {
    width: 100%;
    border-radius: 8px;
    margin-bottom: 0.5em;
  }
  
  .film-title {
    font-weight: bold;
    font-family: 'Lora', serif;
    color: #333;
  }

  #Social {
    text-align: center;
    padding: 1vw;
  }
  
  #Social h2 {
    font-size: 2.5vw;
    margin-bottom: 1vw;
  }
  
  .social-container {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 1vw;
    padding: 2em 10vw;
  }
  
  .social-link {
    background-color: white;
    border: 2px solid #e58297;
    border-radius: 25px;
    width: 12vw;
    padding: 1.5vw;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    text-align: center;
  }
  
  .social-link:hover {
    transform: translateY(-5px);
    box-shadow: 0 8px 16px #e58297;
  }
  
  .social-link a {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-decoration: none;
    color: inherit;
  }
  
  .social-link h3 {
    font-size: 1.6vw;
    margin: 0.5vw 0;
    text-align: center;
  }
  
  .social-link img {
    width: 4vw;
  }
  
  footer {
    text-align: center;
    font-size: 1.5em;
    background-color: #ffabc4; /* pink */
    color: #333;
    padding: 2vw;
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
    margin: 0;
    box-shadow: 0 6px 8px rgba(255, 251, 235, 0.05);
  }
  
  footer:hover {
    background-color: #e58297;
    color: white; 

  }
  