body{
    background-color: navy;
}


#flex-parent{
    background-color: rgb(107, 153, 226);
    display: flex;
    flex-direction: row;
}
#flex-parent p{
    padding:5vw;
}

#flex-child1{
     order: 3;
}
#flex-child2{
    order: 4;
}
#flex-child3{
 order: 2;
}
#flex-child4{
 order: 1;
}


#grid-parent{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    /* tell it how big you want each column/row to be, not how many */
    /* fr is fractional units, read as 1/3 1/3 1/3, if there were 4, 1/4 1/4 1/4 /1/4 */
    grid-template-rows: 4;
}

#grid-parent h1{
    flex-direction: row;
    background-color: lightblue;
    padding:3vw 5vh;
    margin:5vw;
    
}
#no0{
    border-radius: 20%;
   grid-column-start: 2;
   /* based on each line of a grid being numbered */
   grid-column-end: 3;
}
#no1{
   border-radius: 20%;
}
#no2{
    border-radius: 20%;
}
#no3{
    border-radius: 20%;
}
#no4{
    border-radius: 20%;
}
#no5{
    border-radius: 20%;
}
#no6{
    border-radius: 20%;
}
#no7{
    border-radius: 20%;
}
#no8{
    border-radius: 20%;
}
#no9{
    border-radius: 20%;
}